/**
 * @file
 * Subtheme specific CSS.
 */
/* 
 .path-frontpage{
    overflow-x: hidden;
 } */

body,
body * {
    transition: all 0.3s ease;
    /* Aplica la transición a todos los elementos */
    font-family: 'Berlin';
    scroll-behavior: smooth;

}

.path-frontpage .node--type-banner-header-image header {
    display: none;
}

.path-frontpage #page #header {
    z-index: 1000;
    position: relative;
}

#block-feego-sys-main-menu>ul {
    display: flex;
    justify-content: center;
}

#block-feego-sys-main-menu>ul>li {
    margin: 0 100px;
}

#block-feego-sys-main-menu>ul>li>a {
    color: #fff;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1.7));
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

#block-feego-sys-main-menu>ul>li .dropdown-menu {
    background-color: transparent;
    backdrop-filter: blur(9px);
}

#block-feego-sys-main-menu>ul>li:hover {
    position: relative;
}

#block-feego-sys-main-menu>ul>li .dropdown-menu>li:hover {
    background-color: transparent;
    backdrop-filter: blur(1px);
    position: relative;
}

#block-feego-sys-main-menu>ul>li:hover::after,
#block-feego-sys-main-menu>ul>li .dropdown-menu>li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    /* Ajustar según sea necesario */
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, #00ead0 10px, #00ead0 calc(100% - 10px), rgba(255, 0, 0, 0) 100%);
}

#block-feego-sys-main-menu>ul>li .dropdown-menu>li>a {
    color: #fff;
    text-decoration: none;
}

#block-feego-sys-main-menu {
    width: 80%;
    margin: auto;
}

.path-frontpage .field.field--name-field-banner-image-header {
    width: 100%;
    margin: 0;
    margin-bottom: 0 !important;
}

.path-frontpage .node--type-banner-header-image>.node__content {
    margin: 0;
    display: flex;
    position: relative;
}

.path-frontpage #main-wrapper .container-fluid .node--type-home-page>.node__content>.field {
    margin-bottom: 142px;
}

.path-frontpage #main-wrapper .container-fluid .node--type-home-page>.node__content>.field:not(:has(.paragraph--type--titulo-separador), .field.field--name-field-banner-image-header, .field--name-field-field-home-services) {
    width: 1144px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.path-frontpage .node--type-banner-header-image>.node__content .field--name-field-image-banner {
    margin: 0;
    width: 100svw;
    height: 700px;
    overflow: hidden;
    display: grid;
    align-content: center;
}

.path-frontpage .node--type-banner-header-image>.node__content .field--name-field-icon-banner .field__label {
    display: none;
}

.path-frontpage .node--type-banner-header-image>.node__content .field--name-field-icon-banner {
    position: absolute;
    top: 120px;
    width: 119px;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
}

.path-frontpage .node--type-banner-header-image>.node__content .field--type-image img {
    margin: 0;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
}


.path-frontpage #main-wrapper .container-fluid {
    padding: 0;
}

.gin--navigation main .node__content {
    margin-top: -112px !important;
}

.gin--navigation nav.tabs{
    z-index: 10;
    position: relative;
    top: -56px;
}

.path-frontpage #main-wrapper .container-fluid .node--type-home-page>.node__content {
    margin-top: -56px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.path-frontpage .field--name-field-field-home-services {
    margin-top: -183px;
    z-index: 1;
    margin-bottom: 183px !important;
}

.path-frontpage .field--type-entity-reference {
    margin: 0;
}

.path-frontpage .field--name-field-field-home-services .field__label {
    display: none;
}

.path-frontpage .field--name-field-field-home-services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph--type--titulo-separador {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../src/image/logo_feego_80.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 10%;
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service {
    display: flex;
    flex-direction: column;
    height: 421px;
    background-color: #fff;
    width: 271px;
    overflow: hidden;
    border-radius: 12px;
    align-items: center;
    padding: 12px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1.7));
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service .field--name-field-page-service-image {
    display: flex;
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service .field--name-field-page-service-image .field__item {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service .field--name-field-page-service-image .field__item .field--name-field-media-image {
    margin: 0;
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service .field--name-field-page-service-image .field__item img {
    width: 100%;
    margin: 0;
}

.path-frontpage .field--name-field-field-home-services .field--name-field-page-service-title {
    color: #000;
    font-size: 22px;
    text-align: center;
    margin-top: 48px;
}

.path-frontpage .field--name-field-field-home-services .field__item:nth-child(2) .paragraph--type--page-service {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    margin: 0 17px;
}

.path-frontpage .field--name-field-field-home-services .field__item:not(:nth-child(2)):hover .paragraph--type--page-service {
    margin: 0 16px;
}

.path-frontpage .field--name-field-field-home-services .field__item .paragraph--type--page-service:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 34px rgba(0, 0, 0, 1.7));
}

.path-frontpage .field--name-field-field-home-services .field__item:nth-child(2) .paragraph--type--page-service:hover {
    transform: scale(1.22);
}

.paragraph--type--titulo-separador .field__item {
    font-size: 32px;
    color: #fff;
}

.path-frontpage .field--name-field-titulo-mantenimientos {
    background-color: #54BFA2;
}

.path-frontpage .field--name-field-web-page-title {
    background-color: #D41D26;
}

.path-frontpage .field--name-field-sales-title {
    background-color: #EF7E22;
}

.path-frontpage .field--name-field-schedule-title {
    background-color: #AC4575;
}

.path-frontpage .field--name-field-payment-method {
    background-color: #963085;
    margin-bottom: 0 !important;
}

.path-frontpage .field--name-field-separator-icons {
    margin-top: 24px;
    height: 80px;
}

.path-frontpage .field--name-field-separator-icons img {
    height: 48px;
    width: auto;
}

.path-frontpage .paragraph--type--blck-page-information-1 {
    display: flex;
    height: 450px;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.path-frontpage .paragraph--type--blck-page-information-1 .field--name-field-imagen {
    width: 450px;
}

.path-frontpage .paragraph--type--blck-page-information-1>.field {}

.path-frontpage .paragraph--type--blck-page-information-1 .field--name-field-imagen * {
    margin: 0;
}

.paragraph.paragraph--type--blck-page-information-1.paragraph--view-mode--default .text-group-block-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
}

.paragraph.paragraph--type--blck-page-information-1.paragraph--view-mode--default .text-group-block-1 .field--name-field-titulo {
    color: #D41D26;
    font-size: 52px;
}

.paragraph.paragraph--type--blck-page-information-1.paragraph--view-mode--default .text-group-block-1 .field--name-field-subtitle {
    color: #AD0A12;
    font-size: 44px;
}

.paragraph.paragraph--type--blck-page-information-1.paragraph--view-mode--default .text-group-block-1 .field--name-field-texto {
    font-size: 22px;
    text-align: center;
    margin-top: 24px;
    font-weight: 100;
}

.path-frontpage .paragraph--type--blck-informativo-pagina-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.path-frontpage .field--name-field-service-mantence-title  ,
.path-frontpage .paragraph--type--blck-informativo-pagina-2 .field--name-field-title-a{
    font-size: 52px;
    color: #54BFA2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path-frontpage .paragraph--type--blck-informativo-pagina-2 .field--name-field-large-text{
    font-size: 22px;
    width: 80%;
    text-align: center;
    margin: 24px 0;
}

.path-frontpage .paragraph--type--blck-informativo-pagina-2 .field--name-field-subtitulo
{
    font-size: 30px;
    color: #199E7B;
    
}

.path-frontpage .field--name-field-el-tiempo .paragraph--type--blck-page-information-1{
    flex-direction: row-reverse;
}

.path-frontpage .field--name-field-el-tiempo .paragraph--type--blck-page-information-1 .field--name-field-titulo,
.path-frontpage .field--name-field-schedule .paragraph--type--blck-page-information-1 .field--name-field-titulo{
    color: #199E7B !important;
}

.path-frontpage .field--name-field-el-tiempo .paragraph--type--blck-page-information-1 .field--name-field-subtitle,
.path-frontpage .field--name-field-schedule .paragraph--type--blck-page-information-1 .field--name-field-subtitle{
    color: #54BFA2 !important;
}


.path-frontpage .field--name-field-schedule .paragraph--type--blck-page-information-1 .field--name-field-texto{
    background-color: #54BFA2;
    padding: 16px 78px;
    color: #fff;
    border-radius: 16px;
    position: relative;
}

.path-frontpage .field--name-field-schedule .paragraph--type--blck-page-information-1 .field--name-field-texto::before {
    content: '';
    background-image: url(../src/image/whatsapp.png);
    height: 73px;
    width: 73px;
    display: block;
    position: absolute;
    bottom: 24px;
    left: 24px;
    background-size: 73px;
}

.path-frontpage .field--name-field-brand-slide article header{
    display: none;
}

.path-frontpage .field--name-field-brand-slide .node__content{
    height: auto;
    overflow: hidden;
    width: 1144px;
    position: relative;
}

.path-frontpage .field--name-field-brand-slide .node__content::before,
.path-frontpage .field--name-field-brand-slide .node__content::after{
    content: '';
    width: 77px;
    height: 100%;
    background: linear-gradient(to left, rgb(255 255 255) 21%, #f1f2f800 100%);
    position: absolute;
    z-index: 1;
}

.path-frontpage .field--name-field-brand-slide .node__content::before{
    transform: rotate(180deg);
}

.path-frontpage .field--name-field-brand-slide .node__content::after{
    right: 0;
    top: 0;
}

.path-frontpage .field--name-field-brand-slide .field--name-field-slide-banner-image {
    display: flex;
    width: calc(250px * 9);
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    gap: 50px;
    filter: brightness(0);
    align-items: center;
    height: 100px;
}

.field.field--name-field-slide-banner-image.field--type-entity-reference.field--label-hidden.field__items .field--name-field-media-image {width: 200px;}

.field.field--name-field-slide-banner-image.field--type-entity-reference.field--label-hidden.field__items .field--name-field-media-image img{
    margin: 0;
    height: auto;
    width: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.7));
}

@keyframes scroll{
    0%{
        transform: translateX(1144px);
        -webkit-transform: translateX(1144px);
    }
    100%{
        transform: translateX(calc(-250px * 9));
        -webkit-transform: translateX(calc(-250px * 9));
    }
}

.path-frontpage .field--name-field-brand-slide .field--name-field-slide-banner-image .field__item {
    width: 200px;
}

.path-frontpage .field--name-field-ssd-video *{
    width: 100%;
    height: 570px;
}

.path-frontpage .field--name-field-grid-service-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.path-frontpage .field--name-field-field-home-services .field--name-field-page-service-link a{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0;
    cursor: pointer;
    text-indent: -9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.path-frontpage .field--name-field-field-home-services .field--name-field-page-service-link a::before {
    content: 'ddd';
    width: 20px;
    height: 20px;
    border-style: solid;
    border-color: #54BFA2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.path-frontpage .field--name-field-field-home-services .field__item:nth-child(1) .field--name-field-page-service-link a::before{
    border-color: #AD0A12;
}

.path-frontpage .field--name-field-field-home-services .field__item:nth-child(3) .field--name-field-page-service-link a::before{
    border-color: #EF7E22;
}


